
body{
    margin: 0;
    padding: 30px;
    
}
.section-container{
    width: 550px;
    margin: 0 auto; 
    font-size: 38px;
    line-height: 70px;
    border: 2px solid pink;
    padding: 15px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    background-color: deeppink;
    color: whitesmoke;
    width: 350px;
    height: 420px;
    padding: 5px 25px;
    padding-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 1px #666;
}
.close-modal-container{
    text-align: right;
    margin-top: 5px;
}