
body{
    margin: 0;
    padding: 30px;
    
}

*{
    box-sizing: border-box;
}

h2{
    margin-top: 0;
}

.section-container{
    width: 550px;
    margin: 0 auto; 
    font-size: 38px;
    line-height: 70px;
    border: 2px solid pink;
    padding: 15px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    background-color: black;
    color: whitesmoke;
    width: 350px;
    height: 420px;
   
    
    border-radius: 8px;
    box-shadow: 0px 0px 20px 1px #666;
}

.modal-inner{
    width: 290px;
    margin: 0 auto;
}

.close-modal-container{
    text-align: right;
    margin-top: 5px;
}
.modal-close-btn{
    color: whitesmoke;
    background-color: deeppink;
    border: none;
    cursor: pointer;
}
.modal-close-btn:hover{
    color: black;
}

input{
    margin-top: 10px; 
    border: 1px solid #212529;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

input[type="submit"], button{
    margin-top: 10px;
    padding: 12px 17px;
    border: none;
    background-color: #212529;
    color: #ecfeff;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer; 
}

.modal-text{
    height: 140px;
    line-height: 23px;
    margin-bottom: 0;
}

img{
    width: 100%;
}

.modal-inner{
    width: 290px;
    margin: 0 auto;
}

.modal-inner-loading{
    text-align: center;
}

p{
    font-size: 18px;
    line-height: 28px;
}
.modal-choice-btns{
    display: flex;
    justify-content: space-around;
    margin-top: 3px;
    padding: 8px 24px;
}

.modal-btn{
    padding: 10px 24px;
    cursor: pointer;
}